*.ipynb
/data/

# Python:
*/__pycache__
/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
.cache/
.mypy_cache/
/tests/keys/localhost.crt
/tests/keys/localhost.key
key.txt
key.txt.pub

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
/interface_V1.4.1/factor_20221025_19h11m23s497031005/
/interface_V1.4.0/factor_20221025_19h11m23s497031005/
/interface_V1.4.1/stock_pool_generate/Factor1.pkl
/interface_V1.4.1/stock_pool_generate/Factor2.pkl
/interface_V1.4.1/stock_pool_generate/Stock_Daily_Quota.pkl
/interface_V1.4.1/stock_pool_generate/stockinfo_20220531.mat
/interface_V1.4.2/stock_pool_filled_by_median.parquet
/interface_V1.4.2/df_return_v2.pkl
/interface_V1.4.2/express.csv
/interface_V1.4.3/data/
/interface_V1.4.4/data/
/interface_V1.4.4/factor_20221101_04h26m10s912317697/
/interface_V1.4.4/factor_20221101_16h48m09s362567077/
/interface_V1.4.3/factor_20221101_04h26m10s912317697/
/interface_V1.4.4/factor_20221102_12h44m03s289018784/
/interface_V1.4.4/factor_20221103_05h19m50s115473665/
